/**Module Configuration

  .o88o.  o8o             
                                 888 `"  `"'             
 .ooooo.   .ooooo.  ooo. .oo.   o888oo  oooo   .oooooooo 
d88' `"Y8 d88' `88b `888P"Y88b   888    `888  888' `88b  
888       888   888  888   888   888     888  888   888  
888   .o8 888   888  888   888   888     888  `88bod8P'  
`Y8bod8P' `Y8bod8P' o888o o888o o888o   o888o `8oooooo.  
                                              d"     YD  
                                              "Y88888P'
**/
$header_logo_url				: 'images/logo_perezpriego.svg';
$header_logo_width				: 365px;
$header_logo_height				: 140px;
$header_logo_position			: left;
$header_nav_position			: right;
$header_nav_li_margin			: 0 3px 0 0;
$header_heading_color			:#2c4d4d;
$header_font_color				:#2c4d4d;
$header_font_family				:Arial,sans-serif;
$header_link_background			:rgba(0,0,0,0);
$header_link_color				:#fff;
$header_link_padding			:10px 30px;
$header_link_text_decoration	:none;
$header_link_animation			:'shake';
$header_link_font_family		: 'Open Sans';